{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODC Sign In</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script">
</head>
<body>
    <!-- Banner Section -->
    <div class="banner">
        <img src="{% static 'img/com_logo.png' %}" alt="">        
    </div>

        <div id="signin-form">
            <h1>Login</h1>

            <form action="{% url 'signin' %}" method="POST" class="signin-form">
                {% csrf_token %}
                <label for="mobile_number">Mobile Number  </label>
                    <input type="text" minlength="10" maxlength="10" id="mobile_number" name="mobile_number" placeholder="Enter Mobile Number" required>
              
                <label for="signin-password">Password</label>
                    <input type="password" id="signin-password" name="signin_password" placeholder="Enter Password" required>
                
                <button type="submit" id="sign_in">Sign In</button>
            </form>

            <p>Not Registered <a href="{% url 'signup' %}">Signup</a></p>
        </div>
</body>
</html>
